.search-container {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#word-search {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .word-search-input {
    border-radius: 20px !important;
  }

  .search-container {
    position: static;
    top: auto;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    width: 80%;
    justify-content: center;
  }

  #word-search {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  #word-search button {
    font-size: 12px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
  }
}
