.result-box-container {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#result-box {
  width: 50%;
}

.definition {
  border: 5px rgb(133, 188, 210);
  border-style: solid solid solid;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 2px;
}

.word {
  font-size: 3rem;
}

.pronounciation-link {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .result-box-container {
    top: 35%;
  }

  #result-box {
    width: 80%;
  }
}
